<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	
	<display-name>glib</display-name>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>Index.xhtml</welcome-file>
	</welcome-file-list>



	<!-- Add Support for Spring -->
  	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
  	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
  	</listener>
   	
   	<listener>
		<listener-class>org.asena.common.SessionListener</listener-class>
	</listener>
 	
<!-- 	<listener>
    	<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  	</listener>
 -->


	<!-- Add Support for Spring (the path of spring configuration class) -->
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>org.asena.baseService</param-value>
	</context-param>
  	


	<!-- Change to "Production" when you are ready to deploy -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>	



	<!-- JSF Mapping -->
	<servlet>
		<servlet-name>facesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>facesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
 
	
	<!-- Filter for unicode changing -->
	<filter>
		<filter-name>Character Encoding Filter</filter-name>
		<filter-class>org.asena.common.CharacterEncodingFilter</filter-class>
	</filter>

	<context-param>
	    <param-name>
	        org.primefaces.extensions.DELIVER_UNCOMPRESSED_RESOURCES
	    </param-name>
	    <param-value>false</param-value>
	</context-param>

	<context-param>
		<description>State saving method: 'client' or 'server' (=default). See JSF Specification 2.5.2</description>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>resources.application</param-value>
	</context-param>

	<session-config>
		<session-timeout>20</session-timeout>
	</session-config>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bluesky</param-value>
	</context-param>
	<context-param>
		<param-name>primefaces.UPLOADER</param-name>
		<param-value>native</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
		<init-param>
			<param-name>thresholdSize</param-name>
			<param-value>51200</param-value>
		</init-param>
		<init-param>
			<param-name>uploadDirectory</param-name>
			<param-value>/home/irani/DEV/glibUploads</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<context-param>
		<param-name>com.sun.faces.writeStateAtFormEnd</param-name>
		<param-value>false</param-value>
	</context-param>


  
</web-app>